GridPane{
	-fx-background-color: #303030;
}
.dialog-pane{
  -fx-border-color:#303030;
  -fx-border-width:2.0px;
 }

.dialog-pane > .button-bar > .container {
  -fx-background-color:#303030;
}

.dialog-pane .button{
   -fx-background-color:#222222;
   -fx-text-fill:white;
   -fx-wrap-text: true;
   -fx-cursor:hand;
 }

.dialog-pane .button:hover{     
  -fx-background-color:white;
  -fx-text-fill:black;
  -fx-font-weight:bold; 
 }

Label{
	-fx-background-color: #303030;
	-fx-text-fill:white;
	-fx-font-weight: bold;
}

#link{
	-fx-background-color: #327222;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-padding: 0.5em 0.5em 0.5em 0.5em;
}

#link:hover{
	-fx-background-color: #329222;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}