.root {
	-fx-base: rgb(50.0, 50.0, 50.0);
	-fx-background: rgb(50.0, 50.0, 50.0);
	/* make controls (buttons, thumb, etc.) slightly lighter */
	-fx-color: derive(-fx-base, 10.0%);
	/* text fields and table rows background */
	-fx-control-inner-background: rgb(20.0, 20.0, 20.0);
	/* version of -fx-control-inner-background for alternative rows */
	-fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);
	/* text colors depending on background's brightness */
	-fx-light-text-color: rgb(220.0, 220.0, 220.0);
	-fx-mid-text-color: rgb(100.0, 100.0, 100.0);
	-fx-dark-text-color: rgb(20.0, 20.0, 20.0);
	/* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
	-fx-accent: rgb(0.0, 80.0, 100.0);
	/* color of non-focused yet selected elements */
	-fx-selection-bar-non-focused: rgb(50.0, 50.0, 50.0);
}

.table-view {
	-fx-background-color: #424242;
}

.table-view .column-header {
	-fx-background-color: transparent;
	-fx-border-color: transparent white transparent transparent;
	-fx-border-width: 0.1;
}

.table-view .column-header-background {
	-fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

.table-view .column-header-background .label {
	-fx-background-color: transparent;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.table-view .table-column {
	-fx-alignment: center;
}

.table-view #fileName {
	-fx-alignment: center-left;
}
/* .table-row-cell */
.table-row-cell .text {
	-fx-font-weight: bold;
	-fx-fill: white;
}

.table-row-cell:selected .text {
	-fx-fill: white;
}

.table-row-cell:selected .text, .table-row-cell:selected .text {
	-fx-fill: rgb(173.0, 255.0, 10.0);
}

.table-row-cell:selected {
	-fx-background-color: firebrick;
}

.table-row-cell {
	-fx-background-color: #202020;
	-fx-background-insets: 0.0, 0.0 0.0 0.0 0.0;
	-fx-padding: 0.0em;
	-fx-border-color: transparent;
}

.table-view>.virtual-flow>.scroll-bar:vertical, .table-view>.virtual-flow>.scroll-bar:vertical>.track,
	.table-view>.virtual-flow>.scroll-bar:vertical>.track-background,
	.table-view>.virtual-flow>.scroll-bar:horizontal, .table-view>.virtual-flow>.scroll-bar:horizontal>.track,
	.table-view>.virtual-flow>.scroll-bar:horizontal>.track-background {
	-fx-background-color: transparent;
}

.table-view .filler {
	-fx-background-color: transparent;
}

.table-view>.virtual-flow>.scroll-bar>.increment-button, .table-view>.virtual-flow>.scroll-bar>.decrement-button
	{
	-fx-opacity: 0.0;
}

.button{
   /*-fx-background-color:firebrick;*/
   -fx-padding: 1.0em;
   -fx-margin-right:5em;
   -fx-text-fill:white;
   -fx-wrap-text: true;
   -fx-cursor:hand;
   -fx-font-weight:bold;
 }

.button:hover{     
  -fx-background-color:white;
  -fx-text-fill:black;
  -fx-font-weight:bold;
 }