.root{
-fx-background-color: #323232;	
}

ScrollPane > .corner {
-fx-background-color: #525252;	
} 

VBox{
	-fx-background-color: #525252;	
}
ListView{
	-fx-background-color: #525252;
}

ListView .list-cell:inactive {
	-fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: red;
	-fx-font-size: 1.0em;
}

ListView .list-cell{
	-fx-font-weight: bold;
	-fx-background-color: #525252;
    -fx-text-fill: white;
	-fx-font-size: 1.0em;
}

Label {
	-fx-font-size: 1.0em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

AnimeLabel {
	-fx-font-weight: bold;
    -fx-text-fill: white;
	-fx-font-size: 1.0em;	
}

DialogPane{
	-fx-background-color: #525252;
	-fx-border-color: white;
	-fx-border-style: solid;
}
#selected {
	-fx-background-color: red;
}

.table-view{
	-fx-background-color: #424242;
}
.table-view .column-header {
     -fx-background-color: transparent;
     -fx-border-color:transparent white transparent transparent;
     -fx-border-width:0.1;
} 

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent; 
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

.table-view .table-column{
    -fx-alignment:center;
}


/* .table-row-cell */
.table-row-cell .text{
    -fx-font-weight:bold;
    -fx-fill: white ;
} 

.table-row-cell:selected .text{
     -fx-fill: white ;    
}

.table-row-cell:selected .text,.table-row-cell:selected .text{
    -fx-fill:rgb(173.0,255.0,10.0);
}

.table-row-cell:selected{
     -fx-background-color:firebrick;
}


.table-row-cell{
    -fx-background-color: #202020;
    -fx-background-insets: 0.0, 0.0 0.0 0.0 0.0;
    -fx-padding: 0.0em;
    -fx-border-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view .filler{
	-fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0.0;
}

.button{
   -fx-background-color:firebrick;
   -fx-text-fill:white;
   -fx-wrap-text: true;
   -fx-cursor:hand;
   -fx-font-weight:bold;
 }

.button:hover{     
  -fx-background-color:white;
  -fx-text-fill:black;
  -fx-font-weight:bold;
 }
 .combo-box {
    -fx-background-color: firebrick;
    -fx-background-radius: 0.0;
    -fx-focus-color: transparent;
    -fx-background-insets: -1.0, -1.0, -1.0, -1.0;
}

.combo-box-popup .list-view {
    -fx-background-color: #aa0000;
}

.combo-box-popup .list-view .list-cell:filled {
    -fx-background-color: #aa1010;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #aa5050;
}

.combo-box .list-cell {
    -fx-text-fill: white;
	-fx-font-weight: bold;
}

.combo-box-base .arrow-button {
    -fx-background-color: transparent;
}

.combo-box-base .arrow {
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
    -fx-background-color: white;
}
 